{% extends "padre.html" %}
{% load static %}

{% block contenidoVar %}

<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

        <br>
        <h2 class="h2 text-success">
            Intentelo de nuevo
        </h2>

        <br>

        <p class="text-left text-black">
            Datos Incorrectos
        </p>

        <br>
    </form>

</body>
</html>

{% endblock %}